/* .card-container {
  display: flex;
  flex-flow: row wrap;

} */
/* .col-12 {
  display: flex;
  flex-flow: row wrap;
} */

.card {
  min-width: 22rem;
  min-height: 13rem;
  max-width: 30rem;
  max-height: 18rem;
  /* min-width: 50rem;
  min-height: 40rem; */
  /* max-width: 60rem;
  max-height: 40rem; */
  padding: 0.5rem;
  background-color: white;
  cursor: pointer;
}

#card-show {
  min-width: 50rem;
  min-height: 25rem;
}

#glow-show {
  max-width: 15rem;
  max-height: 10rem;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

/* .index-glow-detail {
  background-color: lightgrey;
} */
