/* .card-container {
  display: flex;
  flex-flow: row wrap;

} */
/* .col-12 {
  display: flex;
  flex-flow: row wrap;
} */

.card {
  min-width: 22rem;
  min-height: 13rem;
  max-width: 30rem;
  max-height: 18rem;
  /* min-width: 50rem;
  min-height: 40rem; */
  /* max-width: 60rem;
  max-height: 40rem; */
  padding: 0.5rem;
  background-color: white;
  cursor: pointer;
}

#card-show {
  min-width: 60rem;
  min-height: 35rem;
}

/* #glow-show {
  max-width: 15rem;
  max-height: 10rem;
} */
#glow-message-text {
  color: grey;
}

#showboard-buttons {
  visibility: hidden;
}

.card:hover #showboard-buttons {
  visibility: visible;
  justify-content: center;
  text-align: center;
}


.card-title {
  justify-content: center;
  text-align: center;
}

.card-text {
  justify-content: center;
  text-align: center;
}

.card-hover-text {
  visibility: hidden;
}

.card:hover .card-hover-text {
  color: grey;
  visibility: visible;
  text-align: center;
}


/* .index-glow-detail {
  background-color: lightgrey;
} */
